<!-- <button mat-raised-button (click)="openBottomSheet()">Open file</button> -->

<div class="button-container">
  <button mat-fab color="primary" (click)="openBottomSheet()" class="button_upload">
    <mat-icon>add</mat-icon>
  </button>

  <mat-accordion id="accordion-uploading">
    <mat-expansion-panel #expansionPanel (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ progressUpload().text }}
        </mat-panel-title>
        <mat-panel-description>
          @if (progressUpload().loading) {
            <mat-progress-bar mode="determinate" [value]="progressUpload().value"></mat-progress-bar>
          }
          @if (!progressUpload().loading) {
            <mat-icon class="icon-close-upload" (click)="closeAccordion()">close</mat-icon>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>

      @if (progressUpload().loading) {
        <p>Uploading files, please wait a moment</p>
      }
      <mat-list>
        @for (file of progressUpload().uploaded; track file) {
          <mat-list-item>
            <mat-icon matListItemIcon [ngStyle]="{
              color: file.status == 200 ? '#0f9b0f' : '#af1313'
            }">{{ file.status == 200 ? 'check' : 'close' }}</mat-icon>
            <div matListItemTitle>{{ file.name }}</div>
            <div matListItemLine class="message-uploaded">{{ file.message }}</div>
          </mat-list-item>
        }
      </mat-list>


    </mat-expansion-panel>
  </mat-accordion>

</div>

<input type="file" name="file" id="file" (change)="uploadFile($event)" multiple="true">